a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #eee;
  color: #333;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

a:hover {
  background-color: #ccc;
  color: #fff;
}

.btn {
  background-color: lightblue;
  color: white;
  font-weight: bold;
}