@{
  Layout = "_Layout";
}

<h1>Dr. Sillystringz Engineer Management Portal</h1>

<p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p> 
<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
