@{
  Layout = "_Layout";
}

<h1>Dr. Sillystringz Engineer Management Portal</h1>

<p>@Html.ActionLink("Go to Engineer Management", "Index", "Engineers")</p> 
<p>@Html.ActionLink("Go to Machine Management", "Index", "Machines")</p>
